/* BASE CSS FOR PROJECT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --profile-size: 320px;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
}
@media (max-width: 768px) {
  :root {
    --profile-size: 320px;
    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
  }
}
html {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

.header {
  font-size: 24px;
  font-weight: 600;
  color: #828282;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.container {
  width: 85%;
  margin: 40px auto;
}
