/* BASE CSS FOR PROJECT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --profile-size: 320px;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --slight-grey: #e5e5e5;
  --white: #fafafa;
  --bright-white: #ffffff;
  --main-green: #02d464;
  --bg-green: #d8f8e7;
  --box-shadow: 0 0 12px rgb(216, 216, 216, 0.65);
}
@media (max-width: 768px) {
  :root {
    --profile-size: 280px;
  }
}
html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
}

.section {
  margin-bottom: 80px;
}

ul,
ol {
  list-style-type: none;
}

.container {
  width: min(85%, 1100px);
  margin: 40px auto;
}

.header {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-2);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
