.hero-responsive {
  display: none;
}

/* HERO SECTION */

.hero-section {
  height: 90vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  margin: 0;
}

.land-title {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.land-body {
  font-weight: 300;
  font-size: 16px;
  color: #828282;
  margin: 50px 0;
}

.land-button {
  height: 40px;
  background-color: var(--main-green);
  color: #fafafa;
  border-radius: 30px;
  padding: 10px 0;

  /* fixed width */
  width: 65%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;

  /* double width */
  width: 40%;
  cursor: pointer;
}

.land-image {
  position: absolute;
  right: 0;
  top: -14px;
}

.land-text {
  width: 50%;
}

/* END HERO SECTION */

/* ********************************************************************************** */

/* ABOUT SECTION */

.about-section {
  text-align: center;
  padding: 150px 0px;
  background-color: var(--main-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.arrow {
  border-bottom: 1px solid #fafafa;
  margin-bottom: 10px;
}

.horizontal {
  width: min(40%, 450px);
  margin-bottom: 50px;
}

.vertical {
  width: 200px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(calc(-50% - 16.5px)) rotate(90deg);
  transform-origin: bottom center;
}

.vertical .arrow {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    var(--white),
    var(--main-green)
  );
}

.p-big {
  font-family: Montserrat;
  font-style: normal;
  font-size: 40px;
  line-height: 140%;
  color: var(--bright-white);
  width: max(360px, 85%);
}

.span-big {
  font-weight: bold;
  margin-right: 15px;
}

.p-small {
  width: max(360px, 85%);
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
  color: var(--white);
  opacity: 0.9;
  margin-top: 40px;
  font-size: 20px;
}

.p-new-line {
  display: block;
}

.hero-birthdays {
  margin-top: 100px;
}

.hero-birthdays-title,
.hero-birthdays-content {
  text-align: center;
  margin-top: 20px;
}

.table-wrapper {
  margin-top: 30px;
  box-shadow: 0px 0px 14px rgba(216, 216, 216, 0.65);
  border-radius: 16px;
  background-color: #fefefe;
}

.hero-table {
  margin-top: 60px;
  border-collapse: collapse;
  width: 100%;
}

.hero-table-row {
  border-bottom: 1px solid #4f4f4f;
}

.hero-table-row td {
  padding: 20px 20px;
  font-weight: 500;
  font-size: 20px;
  color: #4f4f4f;
}

.hero-table-row:last-child {
  border-bottom: none;
}

/* search-section */

.search-section {
  margin-top: 80px;
}

.search-section .container {
  display: flex;
  align-items: center;
}

.second-search-part {
  width: 55%;
}

body {
  overflow-x: hidden;
}

/* MAPPY */

.map-section {
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navigation {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.region-nav {
  color: var(--main-green);
  font-weight: 600;
}
.map-body {
  text-align: center;
}
.map-text {
  font-size: 40px;
  font-weight: 500;
}
.map-text-highlighted {
  font-size: 50px;
  font-weight: bold;
}
.map-extra-info {
  margin: auto;
  margin-top: 60px;
  font-size: 16px;
  width: min(600px, 80%);
  color: var(--gray-3);
}
.map-img {
  height: 90%;
  min-width: 400px;
  position: absolute;
  top: 50px;
  right: 7.5vw;
  z-index: -1;
}
.map-img svg {
  height: 100%;
  width: 100%;
}
@media (min-width: 1300px) {
  .map-img {
    left: calc(1100px + (100% - 1100px) / 2 - 300px);
  }
}

/* HERO RESPONSIVE */
.hero-responsive {
  background-color: #fefefe;
  box-shadow: 0px 0px 14px rgba(216, 216, 216, 0.65);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-top: 30px;
}

.second-responsive,
.third-responsive {
  display: flex;
}

.responsive-rank {
  margin-left: 50px;
}

.hero-responsive-section {
  margin-bottom: 20px;
}

.hero-responsive .container {
  width: 95%;
}

.responsive-arrow img {
  margin-top: 10px;
}

.third-responsive {
  justify-content: space-between;
}

.first-responsive p {
  margin-bottom: 5px;
}

.first-p {
  font-weight: 600;
  font-size: 14px;
  color: var(--gray-4);
}

.second-p {
  font-weight: 500;
  font-size: 16px;
  color: var(--gray-2);
}
/* RESPONSIVE */
@media screen and (max-width: 400px) {
  .p-big {
    font-size: 22px;
  }

  .p-small {
    font-size: 16px;
  }

  .p-big,
  .p-small {
    width: 85%;
  }

  .hero-section {
    overflow-x: hidden;
  }

  .map-text {
    font-size: 22px;
  }

  .map-extra-info {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .navigation,
  .map-img {
    display: none;
  }

  .map-text {
    font-size: 28px;
  }

  .second-search-part {
    display: none;
  }

  .table-wrapper {
    display: none;
  }
}
