/* HERO SECTION */

.hero-section {
  height: 90vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.land-title {
  font-size: 40px;
  font-weight: 700;
}

.land-body {
  font-weight: 300;
  font-size: 16px;
  color: #828282;
  margin: 50px 0;
}

.land-button {
  height: 40px;
  background-color: var(--main-green);
  color: #fafafa;
  border-radius: 30px;
  padding: 10px 0;

  /* fixed width */
  width: 65%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;

  /* double width */
  width: 40%;
  cursor: pointer;
}

.land-image {
  position: absolute;
  right: 0;
  top: -14px;
}

.land-text {
  width: 50%;
}

/* END HERO SECTION */

/* ********************************************************************************** */

/* ABOUT SECTION */

.about-section {
  text-align: center;
  /* no fixed height */
  height: 521px;
  background-color: var(--main-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.p-big {
  font-family: Montserrat;
  font-style: normal;
  font-size: 40px;
  line-height: 140%;
  color: #ffffff;
  width: 976px;
}

.span-big {
  font-weight: bold;
  margin-right: 15px;
}

.p-small {
  /* no fixed width */
  width: 915px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
  color: #fafafa;
  opacity: 0.9;
  margin-top: 40px;
  font-size: 20px;
}

.p-new-line {
  display: block;
}

.arrow {
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.horizontal {
  width: min(40%, 450px);
  margin-bottom: 50px;
}

.vertical {
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

/* hero-birthdays */

.hero-birthdays {
  margin-top: 100px;
}

.hero-birthdays p,
h1 {
  text-align: center;
}

.hero-birthdays h1 {
  font-weight: bold;
  font-size: 40px;
  color: #02d464;
}

.hero-birthdays p {
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
  margin-top: 20px;
}

.table-div {
  box-shadow: 0px 0px 14px rgba(216, 216, 216, 0.65);
  border-radius: 16px;
  background-color: #fefefe;
}

.hero-birthdays table {
  margin-top: 60px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.hero-birthdays table tr {
  border-bottom: 1px solid #4f4f4f;
}

.hero-birthdays table tr td {
  padding: 20px 20px;
  font-weight: 500;
  font-size: 20px;
  color: #4f4f4f;
}

.hero-birthdays table tr:last-child {
  border-bottom: none;
}
