/* HERO SECTION */

.hero-section {
  height: 90vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.land-title {
  font-size: 40px;
  font-weight: 700;
}

.land-body {
  font-weight: 300;
  font-size: 16px;
  color: #828282;
  margin: 50px 0;
}

.land-button {
  height: 40px;
  background-color: var(--main-green);
  color: #fafafa;
  border-radius: 30px;
  padding: 10px 0;
  width: 65%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  width: 40%;
  cursor: pointer;
}

.land-image {
  position: absolute;
  right: 0;
  top: -14px;
}

.land-text {
  width: 50%;
}

/* END HERO SECTION */

/* ********************************************************************************** */

/* ABOUT SECTION */

.about-section {
  height: 521px;
  background-color: var(--main-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.p-big {
  font-family: Montserrat;
  font-style: normal;
  font-size: 40px;
  line-height: 140%;
  color: #ffffff;
  width: 976px;
}

.span-big {
  font-weight: bold;
  margin-right: 15px;
}

.p-big-first-line {
  display: flex;
  justify-content: center;
}

.p-small {
  width: 615px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
  color: #fafafa;
  opacity: 0.9;
  margin-top: 40px;
  font-size: 20px;
}

.p-small-second-line {
  display: flex;
  justify-content: center;
}

.arrow {
  width: 40%;
  border-bottom: 1px solid red;
  margin-bottom: 10px;
}

.horizontal:nth-child(3) {
  margin-bottom: 50px;
}

.vertical {
  transform: rotate(90deg);
  width: 400px;
  position: absolute;
  /* bottom: -200px; */
  transform-origin: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
