/* ================

START - HEAD

*/

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-images {
  width: 100%;
}

.background-image {
  width: 100%;
  height: 260px;
  border-radius: 16px;
  position: relative;
}

.wrapper-profile-image {
  height: var(--profile-size);
  width: var(--profile-size);
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--white);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.profile-image {
  display: block;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper-profile-info {
  text-align: center;
  margin-top: calc(var(--profile-size) / 2 + 40px);
}

.full-name {
  font-size: 25px;
  font-weight: bold;
}

.position {
  margin-top: 8px;
  text-align: center;
  font-size: 20px;
  color: var(--gray-3);
}

/* 

END - HEAD

================ */

/* ================

START - ABOUT

*/

.about {
  width: 100%;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  margin-top: 100px;
  padding: 30px;
}

.about-section {
  position: relative;
  left: -5px;
  min-height: 163px;
  margin-top: 20px;
  display: flex;
}

.wrapper-tab {
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  left: -5px;
  
  
}

.tab {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  padding: 5px 10px;
  color: var(--gray-3);
  
}

/* design of tab if active */
.active > .tab {
  color: var(--white);
  background-color: var(--main-green);
}

.about-section-data {
  display: none;
  margin-left: 50px;
  padding-top: 20px;
  padding-left: 50px;
  border-left: 1px solid var(--slight-grey);
}

.about-section-data.active {
  display: block;
}

.wrapper-data {
  margin-bottom: 20px;
}

.wrapper-data .label {
  color: var(--gray-3);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.wrapper-data .data {
  font-size: 20px;
  color: var(--gray-2);
  font-weight: 700;
}

/* 

END - ABOUT

================ */

/* ================

START - STORIES

*/

.wrapper-stories {
  min-height: 340px;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 30px;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}

/* inherits from .header */
.stories-header {
  margin-bottom: 30px;
}

.wrapper-story {
  margin-bottom: 30px;
}

.wrapper-story:last-of-type {
  margin-bottom: 0px;
}

.story-text {
  color: var(--gray-2);
  margin-bottom: 10px;
}

.story-author {
  color: var(--gray-3);
  display: block;
  font-weight: 500;
}

/* 

END - STORIES

================ */

/* ================
START - EMPTY STORIES 

*/

.empty-stories {
  padding-bottom: 60px; /* there is padding in wrapper-stories*/
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-info {
  text-align: center;
}

/* to center button properly */
.add-story.add-story--centered {
  margin-top: 30px;
  margin-right: 0px;
}

/* 

END EMPTY STORIES CSS 

================ */

/* ================

START - WRAPPER ACTIONS 

*/

.wrapper-actions {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;

  /* general css for this section */
  color: var(--gray-1);
  font-size: 16px;
}

.wrapper-actions-item {
  border-radius: 30px;
  height: 40px;
  padding: 0 15px 0 5px;
  background-color: var(--bg-green);
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-right: 30px; 
}
.share {
  font-weight: 600;
}
.actions-span {
  color: var(--main-green);
}

.pagination {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 600;
}

.pagination .page {
  padding: 10px;
}

.pagination .current-page {
  color: var(--main-green);
}

.pagination .current-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-green);
}

/* 

END - WRAPPER ACTIONS

================  */



/* Media Query */


@media only screen and (max-width:768px){
  .about-section-data{
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    border-top:1px solid var(--slight-grey) ;
    
  } 

  .about-section-tabs{
    display: flex;
    padding-bottom: 10px;
  }

  .about-section{
    display: flex;
    flex-direction: column; 
  }

  .full-name .pagination{
    font-size: 20px;
  }

  .position , .header{
    font-size:18px;
  }
  
  .tab {
    font-size:14px
  }
  
  .wrapper-data .label {
    color: var(--gray-3);
    font-size: 14px;
  }

  .wrapper-data .data {
    font-size: 18px;
  }
  
  .wrapper-story{
    font-size:16px
  }

  .pagination , .actions-span{
    font-size:14px
  }


  



  
}







/* End Media Query */


/* SINAQ */

.backgorund{
  width: 100%;
  height: 300px;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
