* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --profile-size: 320px;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
}
@media (max-width: 768px) {
  :root {
    --profile-size: 320px;
    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
  }
}
html {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

.container {
  width: 85%;
  margin: 40px auto;
}

/* HEAD */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-images {
  width: 100%;
}

.background-image {
  width: 100%;
  height: 260px;
  border-radius: 16px;
  position: relative;
}
.wrapper-profile-image {
  height: var(--profile-size);
  width: var(--profile-size);
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 3px #cbcbcb; /* BOX SHADOW */
}
.profile-image {
  display: block;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper-profile-info {
  text-align: center;
  margin-top: calc(var(--profile-size) / 2 + 40px);
}

.full-name {
  font-size: 25px;
  font-weight: bold;
}

.position {
  margin-top: 8px;
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 20px;
  color: var(--gray-3);
}

/* END HEAD */

/* ABOUT SECTION */
.about {
  width: 100%;
  /* height: 326px; */
  background-color: #ffff;
  border-radius: 16px;
  box-shadow: 0 0 3px 3px #f0e7e7; /* BOX SHADOW */
  margin-top: 100px;
  padding: 30px;
}
.about-section {
  /* min-height preferred */
  min-height: 163px;
  margin-top: 20px;
  display: flex;
}
.wrapper-tab {
  margin-top: 20px;
  cursor: pointer;
}

.tab {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  padding: 5px 15px;
  color: #828282;
}

.active > .tab {
  color: #fff;
  background-color: #02d464;
}

/* #main-info,
#medal-button {
  cursor: pointer;
} */

#active-1 {
  display: block;
}

/* #active {
  display: block;
} */

.about-section {
}

.about-section-data {
  display: none;
  margin-left: 50px;
  padding-top: 20px;
  padding-left: 50px;
  border-left: 1px solid #e5e5e5;
}
.about-section-data.active {
  display: block;
}

.medal-mem {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 20px;
  font-weight: 600;
}

/* #medal-data{
  display: none;
} */
.header {
  font-size: 24px;
  font-weight: 600;
  color: #828282;
}
/* .about-header {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #828282;
  padding-top: 30px;
} */

/* #main-info {
  font-size: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  border-radius: 30px;
  background-color: #02d464;
  padding: 5px 15px;
} */

/* #medal-button {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #828282;
  font-weight: 700;
  padding-left: 15px;
} */

.wrapper-data {
  margin-bottom: 20px;
}
.wrapper-data .label {
  /* font-family: "Montserrat", sans-serif; */
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  /* margin-bottom: 2px; */
  /* padding-bottom: 2px; */
  margin-bottom: 4px;
  padding-bottom: 4px;
  /* padding-top: 20px; */
}

.wrapper-data .data {
  /* margin-top: 2px; */
  /* padding-top: 2px; */
  font-size: 20px;
  color: #333;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

/* .place {
  color: #828282;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.birthplace {
  padding-top: 0;
  margin-top: 0;
  color: #4f4f4f;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
} */

/* STORIES */
.wrapper-stories {
  /* width: 100%; */

  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 3px 3px #f0e7e7; /* BOX SHADOW */
  margin-top: 50px;
  margin-bottom: 40px;
  /* height: auto; */
  padding: 0 40px;
}

.stroies-header {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
  padding-top: 20px;
}

.wrapper-stories .story-author {
  display: block;
  /* margin-top: 10px; */
  padding-bottom: 50px;
  color: #4f4f4f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.wrapper-stories .stories {
  padding-left: 0;
}

.wrapper-stories .stories .story-text {
  padding-bottom: 10px;
  color: #4f4f4f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.wrapper-actions {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;

  /* general css for this section */
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.wrapper-actions-item {
  border-radius: 30px;
  height: 40px;
  /* width: 188.72px;  add padding instead*/
  padding-right: 10px;
  background-color: #d8f8e7;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.actions-span {
  color: #02d464;
}

.share {
  margin-left: 30px;
  /* width: 200px; */
}

.pagination {
  display: flex;
  align-items: center;
  /* margin-left: 50%; */
  margin-left: auto;
}

.pagination .page {
  padding: 10px;
}

.pagination .current-page {
  color: #02d464;
}

.pagination .current-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #02d464;
}

/* JAVASCRIPT CSS */
/* 
#medal-button.medal-js{
    background-color: #02d464;
    font-weight: 100;
    border-radius: 30px;
    color: #fff;
    padding: 5px 15px;
    margin-left: 5px;
}

#main-info.main-js{
  color: #828282;
  background-color: #fff;
  border-radius: none;
  font-weight: 700;
}

#medal-button.medal-js-1{

  color: #828282;
  background-color: #fff;
  border-radius: none;
  font-weight: 700;

}

#main-info.main-js-1{
    background-color: #02d464;
    font-weight: 100;
    border-radius: 30px;
    color: #fff;
    padding: 5px 15px;
    margin-left: 5px;
} */

/* END JAVASCRIPT CSS */
