* {
  box-sizing: border-box;
  /* list-style-type: none; */
}

ul,
ol {
  list-style-type: none;
}

.container {
  width: 85%;
  /* height: 90vh; */
  margin: 40px auto;
}
/* HEAD */

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-images {
  width: 100%;
}

.background-image {
  /* width: 1120px; */
  width: 100%;
  height: 260px;
  border-radius: 16px;
  position: relative;
}

.wrapper-profile-image {
  border-radius: 50%;
  border: 3px solid rgb(252, 252, 252);
  position: absolute;
  /* right: 35%; */
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  /* margin-bottom: 500px; */
  box-shadow: 3px 6px 3px #e8e8e8; /* BOX SHADOW */
}

/* .command{
  padding-left: 3%;
} */

.full-name {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 200px;
  text-align: center;
}

.position {
  /* margin-left: 150px; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  /* font-weight: 600; */
  color: #828282;
}

/* END HEAD */

.about {
  width: 100%;
  height: 326px;
  background-color: #ffff;
  border-radius: 16px;
  box-shadow: 0 0 3px 3px #f0e7e7; /* BOX SHADOW */
  margin-top: 100px;
  padding-left: 40px;
}



#main-info,#medal{
  cursor: pointer;
}

#active-1{
  display: block;
}

#active{
  display: block;
}

.about-section {
  display: flex;
}

.about-section-data {
  margin-left: 50px;
  padding-left: 60px;
  border-left: 1px solid #e5e5e5;
}

.about-section-data p{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}



.wrapper-header .about-header {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #828282;
  padding-top: 30px;
  
}

#main-info {
  font-size: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  border-radius: 30px;
  background-color: #02d464;
  padding: 5px 15px;
}

#medal {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #828282;
  font-weight: 700;
  padding-left: 15px;
}

.wrapper-data h3 {
  font-family: "Montserrat", sans-serif;
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
  padding-bottom: 2px;
  padding-top: 20px;
}

.wrapper-data h1 {
  margin-top: 2px;
  padding-top: 2px;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.place {
  color: #828282;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.birthplace {
  padding-top: 0;
  margin-top: 0;
  color: #4f4f4f;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/* STORIES */
.stories {
  width: 100%;
  /* height: 720px; */

  background-color: #ffff;
  border-radius: 16px;
  box-shadow: 0 0 3px 3px #f0e7e7; /* BOX SHADOW */
  margin-top: 50px;
  margin-bottom: 40px;
  height: auto;
  padding: 0 40px;
}

.stories h1 {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
  padding-top: 20px;
}



.stories span {
  display: block;
  /* margin-top: 10px; */
  padding-bottom: 50px;
  color: #4f4f4f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.stories ul {
  padding-left: 0;
}

.stories ul li {
  padding-bottom: 10px;
  color: #4f4f4f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.wrapper-actions-item {
  border-radius: 30px;
  height: 40px;
  width: 188.72px;
  background-color: #d8f8e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-actions {
  margin-top: 20px;
  padding-bottom: 200px;
  display: flex;
}

.wrapper-actions span {
  color: #02d464;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.share {
  margin-left: 30px;
  padding-right: 5px;
  width: 200px;
}

.pagination .page {
  color: #333;
  padding: 10px;
}

.pagination {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  margin-left: 50%;
}

.pagination .current-page {
  color: #02d464;
}

.pagination .current-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #02d464;
}
